<p>
  I don't actually have this issue anymore as I had to change how my components were loading as I needed dynamic routes so I no longer use route animations. This was something that was working previously though so I assume it's a bug.
  I don't actually have this issue anymore as I had to change how my components were loading as I needed dynamic routes so I no longer use route animations. This was something that was working previously though so I assume it's a bug.
  I don't actually have this issue anymore as I had to change how my components were loading as I needed dynamic routes so I no longer use route animations. This was something that was working previously though so I assume it's a bug.
  I don't actually have this issue anymore as I had to change how my components were loading as I needed dynamic routes so I no longer use route animations. This was something that was working previously though so I assume it's a bug.
</p>
